.Footer {
	flex: 0 0;
	background-color: var(--color-bg-1);
}

.FooterInner {
	max-width: var(--site-width);
	padding: 1rem var(--site-padding);
	margin: 0 auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.Item {
	display: flex;
	align-items: center;
	padding: 1rem;
	color: var(--color-highlight-1);
}

.Icon {
	height: 1em;
	margin-right: 0.25em;
}