.Header {
	flex: 0 0;
	background-color: var(--color-bg-1);
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.HeaderInner {
	max-width: var(--site-width);
	padding: 0 var(--site-padding);
	margin: 0 auto;

	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

.Title {
	padding-right: 2rem;
	font-size: 1.6rem;
}

.Nav {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}

.Nav > a {
	padding: 1rem;
}

.ActiveNavLink {
	border-bottom: 1px solid var(--color-highlight-1);
}